body{
   
    background-image:url("./-46.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    direction: rtl;
}
.contaenar{
    width: 80%;  
    margin: 0 auto;  
    padding: 20px;  
    background-color: #f0f0f0;  
    border: 1px solid #ccc; 
    margin-top: 100px; 
}
.frame{
    width: 1000px;
    height: 700px;
    background-color: #aaaa;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px;
}
.frame form{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 25px;
    /* height: 700px;
    width: 1000px;
    border: 1px solid black; */
}
.input-frame form input{
    width: 500px;  
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;  
    font-size: 16px;  
    background-color: #aaaa;  
    color: #333; 
}
.input-frame form textarea{
    width: 500px;  
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;  
    font-size: 16px;  
    background-color: #f9f9f9;  
    color: #333;  
    background-color: #aaaa;  
}
.frame .input-frame form label{
    color: #000000;
    gap: 10px;
    font-size: 1.5rem;
}
.frame .button-class{
 margin-top: 100px;
 width: 1000px;
 height: 100px;
 /* border: 1px solid #000000; */
 display: flex;
 flex-direction: row;
 justify-content: left;
 gap: 25px;
}
.frame .button-class button{
    width: 100px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px 5px;
    background-color: rgb(5, 163, 47);
    cursor: pointer;
}
.frame .button-class button:hover{
    width: 150px;
    height: 70px;
    border: 1px solid #000000;
    border-radius: 5px 5px;
    background-color: rgb(2, 255, 69);
    cursor: pointer;
}
.frame .button-class .button-back button:hover{
    width: 150px;
    height: 70px;
    border: 1px solid #000000;
    border-radius: 5px 5px;
    background-color: #f30404;
}
.frame .button-class .button-back button{
    background-color: #f30404;
    width: 100px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px 5px;
}