body{

        background-image:url("./-46.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
        margin: 0px;
        direction: rtl;
}
.contaenar{
    width: 80%;  
    margin: 0 auto;  
    padding: 20px;  
    background-color: #f0f0f0;  
    border: 1px solid #ccc; 
    margin-top: 100px; 
}
.suggset-class{
   
        width: 1000px;
        height: 700px;
        background-color: #aaaa;
        border: 1px solid rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px;
}
.suggset-class .suggset-class-h1{
    height:100px;
    width: 500px;
    border: 1px solid black;
    background: rgb(0, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px;
}
.suggset-class .suggset-class-h1 p{
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}